/* A set of reusable classes */

body {
  --color-bg-editor: #282c34;
  --color-bg-editor-lighter: #2f343e;
  --color-border-editor: #363c46;
  --color-text-editor: #c4cad6;

  &[data-editor-theme="light"] {
    --color-bg-editor: #fafafa;
    --color-bg-editor-lighter: #ebebec;
    --color-border-editor: #dfdfe0;
    --color-text-editor: #383a41;
  }
}

@utility bg-editor {
  background-color: var(--color-bg-editor);
}

@utility bg-editor-lighter {
  background-color: var(--color-bg-editor-lighter);
}

@utility border-editor {
  border-color: var(--color-border-editor);
}

@utility text-editor {
  color: var(--color-text-editor);
}

@utility font-editor {
  font-family: "JetBrains Mono", "Droid Sans Mono", "monospace";
  font-variant-ligatures: none;
  font-size: 14px;
}

@utility shadow-xl-center {
  box-shadow:
    0 0 25px -5px rgba(0, 0, 0, 0.1),
    0 0 10px -5px rgba(0, 0, 0, 0.04);
}

@utility shadow-custom-1 {
  box-shadow: 10px 5px 25px -8px rgba(0, 0, 0, 0.2);
}

@utility flip-horizontally {
  transform: scaleY(-1);
}
